*{
    margin: 0;
    padding: 0;
}
p{
   font-size: 1rem;
   font-family: 'Saira Condensed', sans-serif;
}
h1, h2 , h3{
   color: rgba(207, 73, 219, 0.699);
   text-align: center;
   font-family: 'Playfair Display', serif;
   font-weight: 500;
   /*font-family: 'Playfair Display', serif; titulo
font-family: 'Saira Condensed', sans-serif; parrafo*/
}
h2{
   padding: 50px;
}
img .imgPrin {
   width: 80%;
   height: auto;
}
.imgInstagram, .imgTwitter {
   width: 50px;
}
ul li {
   font-size: 1rem;
   font-family: 'Saira Condensed', sans-serif;
   text-align: center;
   background-color: antiquewhite;
}
.alineacionTexto{
    text-align: center;
}
.header{
    background-image: url(../img/image11.jpg);  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    margin-top: 60px;
    padding: 40px;
} 
 .encabezado{
   position: fixed;
   text-align: center;
   padding: 5px;
   background-color: antiquewhite;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   top: 0;
   padding: 10px;
 }
 .encabezado ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
 }
 a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px 20px;
    display: block;
 }
 a:hover{
    color: white;
 }
 .encabezado ul li ul {
    display: flex;
    flex-direction: column;
 }
 .encabezado ul li ul {
    position: absolute;
 }
 .encabezado ul li ul li {
    position: relative;
 }
 .encabezado ul li ul li ul{
    position: absolute;
    display: none;
 }
 .encabezado ul li ul {
    display: none;
 }
 .encabezado ul li:hover > ul {
    display: block;
 }
header {
   grid-area: header;
   justify-content: center;
}
nav{
   display: grid;
   grid-area: nav;
   justify-content: center;
}
main{
   grid-area: main;
   justify-content: center;
   text-align: center;
   width: 100%;
}
aside {
   grid-area: aside;
   justify-content: center;
   text-align: center;   
}
footer {
   grid-area: footer;
   justify-content: center;
}
.gridPadre {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1 fr);
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";  
}
.gridImageUno, .gridImageDos, .gridImageTres {
   justify-self: start;
   align-self: center;
}
.gridPagDos {
   display: grid;
   height: 100vh;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1 fr);
   grid-template-areas: 
   "header header header"
   "nav nav nav"
   "main main aside"
   "footer footer footer";  
}
@media screen and (max-width: 320px){
   .gridPagDos {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
   "header"
   "nav"
   "main"
   "aside"
   "footer"; 
   }
   footer {
      display: none;
   }
}
@media screen and (max-width: 1024px){
   .gridPagDos {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
   "header header"
   "nav nav"
   "main main"
   "aside aside"
   "footer footer"; 
   }
   
}








